{% extends 'common.html' %}
{% block common %}
    {% include 'admin_menu.html' %}
    {% load static %}
<style>
   #mtitle{
        text-align: center;
        font-size: 40px;
        font-family: Arial;
        color: white;
        padding: 5px;
    }
</style>
    <table align="center" style="margin-top: 100px">
    <tr>
        <th id="mtitle"> Welcome Admin</th>
    </tr>
    <tr>
        <th>
            <img src="{% static 'images/admin_welcome2.png' %}" width="500" height="400">
        </th>
    </tr>
    </table>
{% endblock %}